[submodule "OptiMoveBackend"]
	path = OptiMoveBackend
	url = https://github.com/HaAbdullah/OptiMoveBackend
[submodule "OptiMoveDocker"]
	path = OptiMoveDocker
	url = https://github.com/HaAbdullah/OptiMoveDocker
[submodule "OptiMoveMain"]
	path = OptiMoveMain
	url = https://github.com/HaAbdullah/OptiMoveMain
