<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OptiMove</title>
  </head>
  <body>
    <form method="POST" action="/" enctype="multipart/form-data">
      <h2>
        Is the image being viewed from the White or Black POV? (white / black)
      </h2>
      <input type="text" name="usrPOV" value="white" required />
      <h2>Whose turn is it? (white / black)</h2>
      <input type="text" name="usrTurn" value="white" required />
      <h2>Please attach an image required</h2>
      <input
        type="file"
        id="usrImg"
        name="usrImg"
        accept="image/*"
        onchange="handleImageUpload()"
        required
      />
    </form>
    {% if fen%}
    <h1>{{fen}}</h1>
    <h1>{{move}}</h1>
    <p>{{letterBoard | safe}}</p>
    {% endif %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
