.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Interact {
    /* background-color: rgba(0, 90, 90, 0.5); */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 85vw;
}

.Images{
    /* background-color: rgba(90, 0, 72, 0.5); */
    display: flex;
    justify-content: space-between;
    height: 70%;
    width: 100%;
}

.inputs{
    border: 6px solid #4045C9;
    width:  23.44vw; 
    height: 51.8vh; 
    object-fit: cover;
    cursor: pointer;

    transition: border-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.inputs:hover {
    border-color: #FF4D94;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: translateY(-5px); 
}

.Choice{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(5, 45, 0, 0.5); */
    height: 20%;
    width: 100%;
}

.prompt-1{
    /* background-color: rgba(234, 130, 26, 0.5); */
    font-family: 'Coolvetica', sans-serif;
    font-size: 3.5vw; 
    letter-spacing: 0.1vw; 
    color: white;
    transition: transform 1.3s ease-in;
}